<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>Login / Registration</h2>
                            <span class="subheading">Under Construction</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 justify-content-center col-xl-7">
                        <p class="btn btn-lg p-0">Sign In</p>
                        <div class="my-2">
                            <% if (success) { %>
                                <p class="text-success">
                                    <%= success %>
                                </p>    
                                <% } %>
                            <% if (message) { %>
                                <p class="text-danger">
                                    <%= message %>
                                </p>    
                                <% } %>
                            <form id="contactForm" method="POST" action="/auth/login">
                                <div class="form-floating">
                                    <input class="form-control" id="email" type="email" name="username" placeholder="Enter your email..." required/>
                                    <label for="email">Email address</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="password" type="password" name="password" placeholder="Enter your password..." required />
                                    <label for="password">Password</label>
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit" style="background-color: #00404e;color: white;">LogIn</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Scripts-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
